
nextflow.enable.dsl=2

// Include execution profiles and reference files

includeConfig 'profiles/profiles.config'


process {
 
    cpus = 10
    memory = '200 GB'
    //time = '72h'
}

report.overwrite = true
dag.overwrite = true
trace.overwrite = true
timelime.overwrite = true



params {
  //Conditional:   
    //doQC
    doQC = false
    //doCalling
    doCalling = true
    //doReporting
    doReporting = true
    
  //NBSNGS version  
    version = "v.1.0"
     
  //Referrence genome:   
     reference_genome = '/srv/data/Reference/GATK_bundle/hg38_noScaffoldsMasked/Homo_sapiens_assembly38_noScaffoldsMasked.fasta'
  
  //Bed files:  
    //non padded bedfile for QC  
    target_bed =  "/srv/data/bedFiles/NBSNGS_v2/NBSNGS_v2_CALL.bed"
    //padded bedFile for calling
    call_bed = "/srv/data/bedFiles/NBSNGS_v2/NBSNGS_v2_CALL_PADDED200.bed"
    //bedFile_covereage 
    coverage_bed = "/srv/data/bedFiles/NBSNGS_v2/NBSNGS_v2_COVERAGE_PADDED200.bed"
    
    
    // Output directory
    outputDir = "."
  
  //GATK BQSR files:  
    // Mills + 1000G (BQSR)
    mills = "/srv/data/Reference/GATK_bundle/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
    g1000 = "/srv/data/Reference/GATK_bundle/hg38/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
   
  //SnpEff database: GRCh38.113 homebrew
    // SnpEff
    snpeff_data = "/tools/SNPEFF/data"
    snpeff_config = "/tools/SNPEFF/snpEff.config"
    snpeff_gtf = "/tools/SNPEFF/data/GRCh38.113/genes.gtf"
    
    // OPL executable
    OPL = "$PWD/assets/tools/vcfEffOnePerLine.pl"
    
    //Phenoptype gene filter
    geneList ="$PWD/assets/phenotype/geneFilter.list"
   
    //GNOMAD v.4.1
    gnomad = "/srv/data/VCF_annotations/GNOMAD_NBSNGS/v4.1_genomes/gnomad.NBSNGS.v4.1.subset.sorted.vcf.gz"
   
    //Ancestry prediction references
    ancestry_reference = "/srv/data/VCF_annotations/Ancestry_prediction/Ancestry_reference_data.tsv"
    ancestry_RS_selection = "/srv/data/VCF_annotations/Ancestry_prediction/reference_RS.tsv"
}


