profiles {
    standard {
        conda.enabled = true
	      //path = '/home/dksund.dk/unc/miniconda3/bin'
        dag.enable = true
        conda.cacheDir = "./condaEnvs" 

    process {
	     scratch = '/srv/data/scratch/nf_tmp'
       executor = 'local'
	    //cleanup = false
	    
//Subworkflow: COLLECTDATA:	    
	       
	      withName: FINDDATA {
	       //module = ['R/4.3.1']	
        conda = "$projectDir/envs/R/environment.yaml"
	       cpus = 1
         }
//Subworkflow: MAPPING:	          
         withName: DOWNSAMPLE {
               conda = "$projectDir/envs/bbmap/environment.yaml"
               cpus = 4
         }
         withName: FASTQC {
               conda = "$projectDir/envs/fastqc/environment.yaml"
	       cpus = 4
        }
        withName: ALIGNMENT {
             conda = "$projectDir/envs/bwamem2/environment.yaml"
        cpus = 10
        }
        withName: INDEX {
           conda = "$projectDir/envs/samtools/environment.yaml"
        cpus = 1
        }
        withName: ADDREADGROUP {
           conda = "$projectDir/envs/gatk/environment.yaml"
        cpus = 1
        }  
        withName: MARKDUPLICATES {
           conda = "$projectDir/envs/gatk/environment.yaml"
        cpus = 1
        }
        withName: MULTIQC {
           conda = "$projectDir/envs/multiqc/environment.yaml"
        cpus = 1
        }
//Subworkflow conditioanl: MAPPING

        withName: MOSDEPTH {
	         conda = "$projectDir/envs/mosdepth/environment.yaml"
	     cpus = 8
       }
      withName: HSMETRICS {
         conda = "$projectDir/envs/gatk/environment.yaml"
	     cpus = 1
      }
      withName: ALIGNMENT_METRICS {
             conda = "$projectDir/envs/gatk/environment.yaml"
	    cpus = 1
      }
      withName: INSERT_SIZE_METRICS {
           conda = "$projectDir/envs/gatk/environment.yaml"
	    cpus = 1
      }
//Subworkflow conditioanl: CALLING      
      withName: CLEANUP {
             conda = "$projectDir/envs/samtools/environment.yaml"
	    cpus = 1
      }
	    withName: INDEX_CLEAN {
           conda = "$projectDir/envs/samtools/environment.yaml"
	     cpus = 1
	    } 
	    withName: INDELQUAL {
           conda = "$projectDir/envs/lofreq/environment.yaml"
	    cpus = 1
      }
      withName: LOFREQNODEFAULT {
           conda = "$projectDir/envs/lofreq/environment.yaml"
	    cpus = 4
      }
	    withName: LOFREQCALL {
          conda = "$projectDir/envs/lofreq/environment.yaml"
      cpus = 4
      }
      withName: BQSR {
           conda = "$projectDir/envs/gatk/environment.yaml"
      cpus = 1
      }
      withName: APPLY_BQSR {
           conda = "$projectDir/envs/gatk/environment.yaml"
      cpus = 1
      }
      withName: COVERAGE {
           conda = "$projectDir/envs/samtools/environment.yaml"
	    cpus = 1
      }
      withName: HAPLOTYPECALLER {
                conda = "$projectDir/envs/gatk/environment.yaml"
                cpus = 4
      }
      withName: GTOVCF {
            conda = "$projectDir/envs/gatk/environment.yaml"
      cpus = 4
      }
      
//Subworkflow conditioanl: ANNOTATION
      
      withName: UPDATE_CLINVAR {
           conda = "$projectDir/envs/bcftools/environment.yaml"
	    cpus = 1
      }
      withName: GATK_LA {
           conda = "$projectDir/envs/gatk/environment.yaml"
	    cpus = 1
      }
      withName: ANNOTATE_CLINVAR {
         conda = "$projectDir/envs/snpsift/environment.yaml"
	    cpus = 1
      }
	    withName: ANNOTATE_GNOMAD {
           conda = "$projectDir/envs/snpsift/environment.yaml"
	    cpus = 1
      }
	    withName: ANNOTATE_ONTOLOGY {
           conda = "$projectDir/envs/snpsift/environment.yaml"
	    cpus = 1
	    }
	    withName: OPL {
           conda = "$projectDir/envs/snpsift/environment.yaml"
	    cpus = 1
      }
      withName: MTDNA_HAPLOGROUP {
         //module = ['R/4.3.1']
        conda = "$projectDir/envs/R/environment.yaml"
      cpus = 1
      }
      withName: SEX {
        // module = ['R/4.3.1']
        conda = "$projectDir/envs/R/environment.yaml"
       cpus = 1
      }
      withName: ANCESTRY {
          //module = ['R/4.3.1']
           conda = "$projectDir/envs/R/environment.yaml"
      cpus = 1
      }
//Subworkflow conditioanl: REPORTING     
      withName: BUILDSQL {
	       //module = ['R/4.3.1']	
         conda = "$projectDir/envs/R/environment.yaml"
	    cpus = 1
      }
      withName: VOIDATABASE {
	       //module = ['R/4.3.1']	
         conda = "$projectDir/envs/R/environment.yaml"
	    cpus = 1
      }
      withName: RENDER {
         conda = "$projectDir/envs/R/environment.yaml"
	       //module = ['R/4.3.1']
       cpus = 5
      }
    }
  }
}
